<section class="main">
  <div class="container">
    <div class="main__info">
      <h1 class="main__info_title">Мягкие французские
        пироженки Macaroons</h1>
      <p class="main__info_text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </p>
      <button class="main__info_button btn" (click)="scrollTo(orderElement)">Выбрать продукт</button>
    </div>
    <div class="main__photo">
      <img class="main__img" src="assets/images/main-photo.png" alt="main">
    </div>
  </div>
</section>
<section class="advantages" id="about">
  <div class="container">
    <div class="advantages__block">
      <div class="advantages__block_info">
        <h2 class="advantages__block_title">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <p class="advantages__block_text">Все пироженки мы готовим только из натуральных и качественных
          продуктов,
          без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей, маргарина, разрыхлителей и улучшителей муки.</p>
      </div>
      <div class="advantages__block_image">
        <img src="assets/images/big-macaron.png" alt="big macaroon">
      </div>
    </div>
    <div class="advantages__items">
      <div *ngFor="let advantage of advantages; let i = index">
        <div class="advantages__item">
          <div class="advantages__item_number"><span>{{i + 1}}</span></div>
          <div class="advantages__item_title">{{advantage.title}}</div>
          <div class="advantages__item_text">{{advantage.description}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="macaroons" id="macaroons">
  <div class="container">
    <h2 class="macaroons__title">Выберите свой макарун</h2>
    <div class="macaroons__items">
      <div *ngFor="let product of products">
        <div class="macaroons__item">
          <img src="assets/images/{{product.image}}" alt="1" class="macaroons__item_image">
          <h3 class="macaroons__item_title">{{product.title}}</h3>
          <div class="macaroons__action">
            <div class="macaroons__action_text">
              <p>1 шт.</p>
              <p>{{product.price}}</p>
            </div>
            <button class="macaroons__action_button btn" (click)="addToCart(product, orderElement)">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="order" #orderElement id="order">
  <div class="container">
    <img class="order__image" src="assets/images/order-macaroons.png" alt="order">
    <div class="order__block">
      <div class="order__info">
        <h2 class="order__info_title">Закажите макарун!</h2>
        <p class="order__info_text">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
      </div>
      <div class="order-form">
        <div class="order__actions">
          <div class="order__action">
            <div class="order__action_title">Ваш выбор</div>
            <input type="text" class="order__action_input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.productTitle">
          </div>
          <div class="order__action">
            <div class="order__action_title">Заполните данные для заказа</div>
            <input type="text" class="order__action_input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
            <input type="tel" class="order__action_input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
            <button class="order__action_button btn" (click)="createOrder()">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
    <div class="order__strawberry_big">
      <img src="assets/images/big-strawberry.png" alt="big_strawberry">
    </div>
    <div class="order__strawberry_small">
      <img src="assets/images/small-strawbeery.png" alt="small_strawberry">
    </div>
  </div>
</section>
<div class="present" *ngIf="present">
  <div class="present__text">
    <p>Оформите заказ и получите подарок!</p>
  </div>
  <div class="present__image">
    <img src="assets/images/present.png" alt="present">
  </div>
</div>
